body {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.play-music {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

.play-music-title {
  margin: 0;
}

.play-music-artist {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}

.music-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  padding: 0;
}

.music-item {
  display: flex;
  gap: 16px;
}

.music-item:hover {
  background-color: rgba(211, 211, 211, 0.1);
}

.music-info {
  display: flex;
  flex-direction: column;
}

.music-info-title {
  margin: 0;
}

.music-info-title-play {
  margin: 0;
  color: green;
}

.music-info-artist {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}

.play-button {
  width: 48px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: transparent;
}

.play-button:hover {
  cursor: pointer;
}
